@charset "UTF-8";

@import "includes/settings";

$form-spacing: rem-calc(20);
$form-label-font-size: rem-calc(18);
$input-font-size: rem-calc(18);
$input-border-radius: 3;

@import "bower_components/foundation/scss/foundation/components/grid";
@import "bower_components/foundation/scss/foundation/components/accordion";
@import "bower_components/foundation/scss/foundation/components/alert-boxes";
@import "bower_components/foundation/scss/foundation/components/block-grid";
@import "bower_components/foundation/scss/foundation/components/breadcrumbs";
@import "bower_components/foundation/scss/foundation/components/button-groups";
@import "bower_components/foundation/scss/foundation/components/buttons";
@import "bower_components/foundation/scss/foundation/components/clearing";
@import "bower_components/foundation/scss/foundation/components/dropdown";
@import "bower_components/foundation/scss/foundation/components/dropdown-buttons";
@import "bower_components/foundation/scss/foundation/components/flex-video";
@import "bower_components/foundation/scss/foundation/components/forms";
@import "bower_components/foundation/scss/foundation/components/icon-bar";
@import "bower_components/foundation/scss/foundation/components/inline-lists";
@import "bower_components/foundation/scss/foundation/components/joyride";
@import "bower_components/foundation/scss/foundation/components/keystrokes";
@import "bower_components/foundation/scss/foundation/components/labels";
@import "bower_components/foundation/scss/foundation/components/magellan";
@import "bower_components/foundation/scss/foundation/components/orbit";
@import "bower_components/foundation/scss/foundation/components/pagination";
@import "bower_components/foundation/scss/foundation/components/panels";
@import "bower_components/foundation/scss/foundation/components/pricing-tables";
@import "bower_components/foundation/scss/foundation/components/progress-bars";
@import "bower_components/foundation/scss/foundation/components/range-slider";
@import "bower_components/foundation/scss/foundation/components/reveal";
@import "bower_components/foundation/scss/foundation/components/side-nav";
@import "bower_components/foundation/scss/foundation/components/split-buttons";
@import "bower_components/foundation/scss/foundation/components/sub-nav";
@import "bower_components/foundation/scss/foundation/components/switches";
@import "bower_components/foundation/scss/foundation/components/tables";
@import "bower_components/foundation/scss/foundation/components/tabs";
@import "bower_components/foundation/scss/foundation/components/thumbs";
@import "bower_components/foundation/scss/foundation/components/tooltips";
@import "bower_components/foundation/scss/foundation/components/top-bar";
@import "bower_components/foundation/scss/foundation/components/type";
@import "bower_components/foundation/scss/foundation/components/offcanvas";
@import "bower_components/foundation/scss/foundation/components/visibility";

@import "includes/spectrum";

$transition-duration: 0.4s;
$transition-timing-function: cubic-bezier(.55,0,.1,1);



body {
  -webkit-font-smoothing: $font-smoothing;
}

#introbar {

    padding: rem-calc(40 0);
    background-color: $primary-color;

    p {
        margin: 0;
    }

}

#header {

    padding: rem-calc(40 0);

    .logo {

        display: block;
        width: 100px;
        height: 24px;
    }

}

#intro {

  border-bottom: 1px solid scale_color($secondary-color, $lightness: 80%);
  padding: rem-calc(60 0 80 0);

  h1 {
    margin-bottom: rem-calc(60);
  }

}

#example {

    padding: rem-calc(40 0 0 0);
  background-color: $primary-color;



  .example-image {

  }

    h4 {
      margin-top: rem-calc(40);
      font-size: rem-calc(22);
      color: $white;
      margin-bottom: rem-calc(20);
    }

}

#how-it-works {

  padding: rem-calc(80 0);
  border-bottom: 1px solid scale_color($secondary-color, $lightness: 80%);

  h3 {
    color: $primary-color;
  }

  p {
    color: $secondary-color;
  }

  .sites {

    margin-top: rem-calc(60);

    .site {


    }

  }

}

#pricing {

  padding: rem-calc(80 0);

  .price {

    background-color: $primary-color;
    border-radius: 50%;
    width: 150px;
    height: 150px;
  text-align: center;
    margin: 0 auto;
    padding: rem-calc(45 0 0 0);

    .amount {
      color: $white;
      font-size: rem-calc(48);
      font-weight: $font-weight-light;
      line-height: rem-calc(42);
    }

    .extra {

      color: $white;
      font-size: rem-calc(12);
    }

  }

}

#footer {
    border-top: 1px solid scale_color($secondary-color, $lightness: 80%);
    padding: rem-calc(40 0);

    p {
        margin: 0;
        font-size: rem-calc(14);
        color: scale_color($secondary-color, $lightness: 40%);
    }
}


.referrer {
  border: 1px solid #CCC;
  border-radius: rem-calc(3);
  margin: rem-calc(5 0);
  padding: rem-calc(10);
}

.reveal-modal pre {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
  border-radius: 3px;
  background-color: #333;
  color: #CCC;
  border: 1px solid #CCC;
}